:root {
    --bg-soft-violet: hsl(273, 75%, 66%);
    --bg-soft-blue: hsl(240, 73%, 65%);

    --text-soft-red: hsl(14, 88%, 65%);
    --text-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --text-dark-grayish-blue: hsl(240, 6%, 50%);

    --dividers-grayish-blue: hsl(240, 5%, 91%);

    --fs-300: 1rem;

    --fw-400: 400;
    --fw-700: 700;
}

/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;

}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    line-height: 1.5.rem;
    font-weight: var(--fw-700);
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3 {
    color: var(--clr-neutral-dark-grayish-blue);
}

p {
    color: var(--clr-neutral-grayish-blue);
    line-height: 1.7rem;
}

input,
button,
textarea,
select,
a {
    font: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: linear-gradient(to bottom, var(--bg-soft-violet), var(--bg-soft-blue));
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: white;
    max-width: fit-content;
    margin: 2rem;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}